.mainCon {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #93c5fd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}
.innerCon {
  width: 60vw;
  background-color: #f8fafc;
  padding: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.mainH {
  font-size: 4vw;
  color: #323f4b;
}
.subH {
  font-size: 3vw;
  color: #323f4b;
  font-weight: 500;
}
.mainP {
  color: #1e293b;
  font-size: 2vw;
  margin-left: 10px;
}
.optionName {
  color: #000000;
  font-size: 1vw;
}
.dropDown {
  color: #000000;
  font-size: 2vw;
  padding-left: 10px;
  padding-right: 20px;
  height: 40px;
}
.selectCon {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .mainCon {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #93c5fd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
  }
  .innerCon {
    width: 90vw;
    height: 50vh;
    background-color: #f8fafc;
    padding: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }
  .mainH {
    font-size: 5vh;
    color: #323f4b;
  }
  .subH {
    font-size: 4vh;
    color: #323f4b;
    font-weight: 500;
  }
  .mainP {
    color: #1e293b;
    font-size: 2vh;
    margin-left: 10px;
  }
  .optionName {
    color: #000000;
    font-size: 2vh;
  }
  .dropDown {
    color: #000000;
    font-size: 2vh;
    padding-left: 10px;
    padding-right: 20px;
    height: 4vh;
    background-color: transparent;
  }
  .selectCon {
    display: flex;
    align-items: center;
  }
}
